body {
	 background-image:  url("../image/image.png");
	 color: #008000;
	 width: 850px;
	 margin-right: auto;
	 margin-left : auto;
}


/* タイトル、野菜の掲示板 */
h3{
    margin: 0 auto;
    padding: 0.8em;
    border-top: 3px double #ff2b2b;
    border-bottom: 3px double #ff2b2b;
    font-size: 1.143em;
    font-weight: bold;
}


/* 画面遷移ボタン */
.header{
	text-align: right;
}


/* 野菜の画像フレーム */
.image{
	background-image: url("../image/simple_frame.png");
}


/* ログインユーザー名表示 */
.profile {
	margin:auto;
	height: 70px;
	color: #765c47;
}
h4{
     padding: 0.2em;
     text-align: left;
     margin-right: 25em;
}


/* 見出し、タイトル */
h2 {
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px #ff8040;
  border-bottom: solid 2px #ff8040;
  color: #ff5524;
  text-align:center;
  margin: auto;
  margin-right: 150px;
  margin-left : 150px;
}
h2:before, h2:after {
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
  height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: #ff9562;
}
h2:before {
  left: 7px;
}
h2:after {
  right: 7px;
}


/* 投稿吹き出し */
.balloon1{
  position: relative;
  padding: 25px;
  border-radius: 10px;
  color: #ff8080;
  background-color: #ff2b2b;
  margin-left: 10px;
  margin-right: 100px;
  width: auto;
}
.balloon1::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #ff2b2b;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}


/* コメント吹き出し */
.balloon2{
  position: relative;
  padding: 19px;
  border-radius: 10px;
  color: #ff8080;
  background-color: #ff8306;
  margin-right: 10px;
  margin-left: 100px;
  width: auto;
}
.balloon2::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -15px;
  top: 20px;
  border-left: 15px solid #ff8306;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}


/* ユーザー一覧ボックス */
.user {
    background-color: #009b4e;
    border: 2px dashed #fff;
    border-radius: 15px;
    box-shadow: 0 0 0 4px #009b4e;
    color: #8cffc6;
    margin: 10px;
    margin-left:50px;
    padding: 1em;
	display: inline-block;
	width:280px
}
.userlist{
	margin: 10px;
}

textarea {
  width: 450px;
  height: 60px;
  background: #ffff80;
  border: 1px solid #bebebe;
  font-size: 14px
}

input[type="text"],input[type="password"],input[type="date"], select{
  background: #ffff80;
  border: 1px solid #bebebe;
  font-size: 14px
}


/* 黒板 */
.kokuban {
    color: #fff;
    font-weight: bold;
    background-color: #114400;
    margin: 10px 0 10px 0px;
    padding: 30px;
    border: 9px solid #a60;
    border-radius: 3px;
    box-shadow: 2px 2px 4px #666, 2px 2px 2px #111 inset;
    text-shadow: 0px 0px 2px #000;
    line-height: 1.9;
}
.point {
    color: #ff8083;
    font-weight: bold;
    border: 3px solid #ff8083;
    padding: 4px;
    margin: 5px;
}

/* 画面遷移ボタン */
.btn-flat-border {
  display: inline-block;
  padding: 1.3em 1em;
  text-decoration: none;
  color: #ff6f6f;
  border: solid 2px #ff6f6f;
  border-radius: 3px;
  transition: .4s;
  background-color: rgba( 255, 255, 255, 0.60 );
}
.btn-flat-border:hover {
  background: #ff6f6f;
  color: white;
}

/* 画面遷移ボタン */
.btn-flat-border2 {
  display: inline-block;
  padding: 1.3em 1em;
  text-decoration: none;
  color: #fe9250;
  border: solid 2px #fe9250;
  border-radius: 3px;
  transition: .4s;
  background-color: rgba( 255, 255, 255, 0.60 );
}
.btn-flat-border2:hover {
  background: #fe9250;
  color: white;
}


/* 編集ボタン（管理画面） */
.bt-samp16 {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #009b4e;
  border: solid 2px #ffff64;
  border-radius: 3px;
  transition: .4s;
  background: white;
}
.bt-samp16:hover {
  background: #ffff64;
  color: #009b4e;
}

/* コメントするボタン */
.bt-samp17 {
  display: inline-block;
  padding: 0.8em 1em;
  text-decoration: none;
  color: #00cc66;
  border: solid 2px #00cc66;
  border-radius: 3px;
  transition: .4s;
  position: right;
  background-color: rgba( 255, 255, 255, 0.60 );
}
.bt-samp17:hover {
  background: #00cc66;
  color: white;
}


/* 停止・復活ボタン */
.bt-samp18 {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #009b4e;
  border: solid 2px #ff7c3e;
  border-radius: 3px;
  transition: .4s;
  background: white;
}

.bt-samp18:hover {
  background: #ff7c3e;
  color: white;
}


/* 黒板サブミットボタン */
.bt-samp1 {
  display: inline-block;
  padding: 0.8em 1em;
  text-decoration: none;
  color: #ffffff;
  border: solid 2px #ffffff;
  border-radius: 3px;
  transition: .4s;
  background: #114400;
}
.bt-samp1:hover {
  background: #ffffff;
  color: #114400;
}


/* コメント、投稿削除ボタン */
.btn-flat-border20 {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #ff4242;
  border: solid 2px #ff4242;
  border-radius: 3px;
  transition: .4s;
  background-color: rgba( 255, 255, 255, 0.60 );
}
.btn-flat-border20:hover {
  background: #ff4242;
  color: white;
}


/* 入力フォーム */
.form{
	color: #00572c;
	font-weight:bold;
	margin:auto;
}


/*投稿一覧 */
.message  {
	font-weight: lighter;
	color: #008000;
}

.copyright {
  font-weight: bold;
  font-size: 20px;
  color: rgba(0, 0, 0, 0);
  text-shadow: 2px 2px 0 #006e54;
  -webkit-text-stroke: 1px #7e7e7e;
  text-stroke: 1px #7e7e7e;
  padding: 0 0 10px;
  text-align: right;
}


.errorMessages {
	margin:auto;
	color: white;
	background-color: red
}